<?php 
require_once ("model/encyclopedie.php");
require_once ("controller/encyclopedie.php");

$valeur1 = $_GET["valeur1"];
?>

<form method="POST">
<div id="content">	
  
    <div id="presentation">
	    <div id="titre-accueil">
			<div id="profil">
				<div id="logo-ajout"> Créer mon profil</div>
				<a href="?page=inscription" > Créer mon profil </a>
			
				<div id="logo-connexion"> Me connecter</div>
				<a href="?page=connexion" > Me connecter </a>
			</div>
			<span> Encyclopédie </span> 
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum turpis elit, viverra vitae tempus ac, interdum eu enim </p> 
			
			<select id="recherche">
			<option value="1">Tous les aliments</option>
			</select> <br><br>
			
			<input type="text" name="zone-aliment" value="" id="zone-aliment" /> <br><br><br> 

			<input type="submit" name="rechercher" value="Rechercher" />
		</div>
		<div id="lien-accueil">
			<a href="?page=supertracker"> << Retourner à l'accueil du SuperTracker </a>
		</div>
	</div>
	
	<div id="encyclo">
	    <span> Résultats </span>
		<div id="bloc-gauche">
			<?php 
				if (isset ($_POST['rechercher'])) {
					resultatsRecherche2();	
				} else {
				    echo "Veuillez saisir le nom de l'aliment à rechercher";
				}
			?>			
		</div>
	
		<div id="bloc-droit">
		 <div id="supprimer">  <a href="?page=encyclopedie" > &nbsp .</a></div>
		   <div id="titre">
				<?php
				$aliment1 = getAliment($valeur1);
				echo "<h2>".$aliment1['nomFR']."</h2>";
				echo "<p> ____________________________ </p>";				
				?>
		    </div>
			
			<div id="choix-portion">
			   <p> Choisissez une quantité </p>
			   <select id="quantite" name="quantite">
				   <option value="1" selected="selected">1</option>
				   <option value="2">2</option>
				   <option value="3">3</option>
				   <option value="4">4</option>
				   <?php choixListeQuantite(); ?>
			   </select>
			   
			   <select id="portion" name="portion">
					<?php echo "<option value=\"petit(e)\">".$aliment1['type']." -petit(e)-</option>"; ?>
					<?php echo "<option value=\"moyen(ne)\" selected=\"selected\">".$aliment1['type']." -moyen(ne)-</option>"; ?>
					<?php echo "<option value=\"grand(e)\">".$aliment1['type']." -grand(e)-</option>"; ?>
					<?php choixListePortion($aliment1['type']); ?>
			   </select>
			   
			    <input type="submit" name="valider" value="Valider" />			   
				<a>Ajouter *</a>
			</div>
		  	   
			<div id="onglets-encyclo">
			    <a href="javascript:afficherAliment();">Infos sur l'aliment </a>
				<a href="javascript:afficherNutriment();">Infos nutritionnelles </a>
			</div>
			
			<div id="info-aliment">
				<div id="calories"> Nombre total de calories 
				<?php 
				$energie = getEnergieAliment($aliment1['numAliment']);
			    if ($energie != null) {
				    if (!empty($_POST['quantite'])) {
					echo "<p>".$energie['valeurMoy']*$_POST['quantite']."</p>";
					} else {
						echo "<p>".$energie['valeurMoy']."</p>";
					}
				} else {
					echo " <p> 0 </p></td>";
				}
				?></div>
				
				<table>
				    <tr>
					    <th> Groupe(s) alimentaire(s) </th>
						<th> Apports </th>
					</tr>
					 <tr>
					    <td> &nbsp </td>
						<td> <?php principauxConstituants($aliment1['numAliment']); ?> </td>
					</tr>
				</table>
				      
			</div>
			
			<div id="info-nutriment"> 
			<?php tousLesCompos($aliment1['numAliment']) ?>
			</div>
			
		</div>
		
		<div id="bloc-droit">  </div>
	</div>
</div>
</form>

<script type="text/javascript">
function afficherNutriment() {
	document.getElementById("info-nutriment").style.display = "block";
	document.getElementById("info-aliment").style.display = "none";
}

function afficherAliment() {
	document.getElementById("info-aliment").style.display = "block";
	document.getElementById("info-nutriment").style.display = "none";
}
</script>
