<?php 
require_once ("controller/encyclopedie.php");

?>

<form method="POST">
<div id="content">	

    <div id="presentation">
	    <div id="titre-accueil">
			<div id="profil">
				<div id="logo-ajout"> Créer mon profil</div>
				<a href="?page=inscription" > Créer mon profil </a>
			
				<div id="logo-connexion"> Me connecter</div>
				<a href="?page=connexion" > Me connecter </a>
			</div>
			<span> Encyclopédie </span> 
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum turpis elit, viverra vitae tempus ac, interdum eu enim </p> 
			
			<select id="recherche">
			<option value="1">Tous les aliments</option>
			</select> <br><br>
			
			<input type="text" name="zone-aliment" value="" id="zone-aliment" /> <br><br><br> 

			<input type="submit" value="Rechercher" />
		</div>
		<div id="lien-accueil">
			<a href="?page=supertracker"> << Retourner à l'accueil du SuperTracker </a>
		</div>
	</div>
	
		<div id="encyclo">
	    <span> Résultats </span>
		<div id="bloc-gauche">
			<?php resultatsRecherche1(); ?>			
		</div>
		
		<div id="bloc-droit"> </div>
		
		<div id="bloc-droit"> </div>
	</div>
</div>
</form>
